jbp.proxy/Connected Services/wsViaIntegration/ViaIntegration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://64.46.87.43/ViaNetTest/ViaServicios/ViaIntegration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Via.Servicio.Entities" />
  <xs:element name="CargaFacturasJamesB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Via.Servicio.Entities" minOccurs="0" name="facturas" nillable="true" type="q1:ArrayOfFactura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaFacturasJamesBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargaFacturasJamesBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>